<?xml version="1.0" encoding="UTF-8"?>
<!-- 步骤1：开启context命名空间 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 2.管理DruidDataSource对象 -->
    <!-- <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"> -->
    <!--     <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/> -->
    <!--     <property name="url" value="jdbc:mysql://localhost:3306/spring_db"/> -->
    <!--     <property name="username" value="root"/> -->
    <!--     <property name="password" value="0420"/> -->
    <!-- </bean> -->

    <!-- 步骤2：加载properties配置文件 -->
    <!-- <context:property-placeholder location="jdbc.properties"/> -->
    <!-- system-properties-mode：系统属性模式 NEVER：从不启用 -->
    <!-- <context:property-placeholder location="jdbc.properties" system-properties-mode="NEVER"/> -->
    <!-- 方式一：加载多个properties文件 -->
    <!-- <context:property-placeholder location="jdbc.properties, jdbc2.properties" system-properties-mode="NEVER"/> -->
    <!-- 方式二：加载所有的properties文件（不规范） -->
    <!-- <context:property-placeholder location="*.properties" system-properties-mode="NEVER"/> -->
    <!-- 方式三：加载类路径下的所有properties文件（规范） -->
    <!-- <context:property-placeholder location="classpath:*.properties" system-properties-mode="NEVER"/> -->
    <!-- 方式四：加载类路径下的所有（包含依赖包）properties文件（规范） -->
    <context:property-placeholder location="classpath*:*.properties" system-properties-mode="NEVER"/>

    <!-- 步骤3：使用属性占位符${}读取properties文件中的属性 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="bookDao" class="com.wsw.dao.impl.BookDaoImpl">
        <!-- 当system-properties-mode不开启NEVER时，默认加载系统环境变量值 -->
        <property name="username" value="${username}"/>
        <!-- <property name="username" value="${jdbc.username}"/> -->

    </bean>
</beans>