<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- environments：配置数据库连接环境信息，可以配置多个environment，
        通过default属性切换不同的environment -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 导入数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="0420"/>
            </dataSource>
        </environment>
        <!-- 注意：MySQL8.0版本之后需要导入这个驱动com.mysql.cj.jdbc.Driver，要不然会报出这个警告
        Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is
        `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and
        manual loading of the driver class is generally unnecessary.  -->
    </environments>

    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>