<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="bookDao" class="com.wsw.dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="com.wsw.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
    </bean>

    <bean id="orderDao" class="com.wsw.factory.OrderDaoFactory" factory-method="getOrderDao"/>

    <!-- <bean id="userDaoFactory" class="com.wsw.factory.UserDaoFactory"/> -->
    <!-- <bean id="userDao" factory-bean="userDaoFactory" factory-method="getUserDao"/> -->

    <bean id="userDao" class="com.wsw.factory.UserDaoFactoryBean"/>

</beans>